{% extends 'base.html' %}

{% block content %}
  <div class="container mt-5">
    <h1>Dominik Cydzik</h1>

    <!-- Profile Section -->
    <div class="card mt-3" style="width: 18rem;">
      <img src="{{ url_for('static', filename='1649147030907.jpeg') }}" class="card-img-top" alt="Dominik Cydzik">
      <div class="card-body">
        <h5 class="card-title">Engineer</h5>
        <!-- Add more details about your profile -->
      </div>
    </div>

    <!-- Bio/Description Section -->
    <div class="mt-3">
      <h2>Bio/Description</h2>
      <p>
        <!-- Add a brief bio or description of your interests and skills -->
      </p>
    </div>

    <!-- Education Section -->
    <div class="mt-3">
      <h2>Education</h2>
      <p>
        <!-- Add details about your education -->
      </p>
    </div>

    <!-- Research/Projects Section -->
    <div class="mt-3">
      <h2>Research and Projects</h2>
      <p>
        <!-- Add information about your research and personal projects -->
      </p>
    </div>

    <!-- Contact Information Section -->
    <div class="mt-3">
      <h2>Contact Information</h2>
      <div class="card" style="width: 18rem;">
        <p>Feel free to reach out to me through the channels below.

           I'd love to chat about anything related to technology and innovation.           
        </p>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Email: dominik.cydzik@gmail.com</li>
          <li class="list-group-item">LinkedIn: <a href="https://www.linkedin.com/in/dominikcydzik/" target="_blank">Dominik Cydzik</a></li>
          <li class="list-group-item">GitHub: <a href="https://github.com/domin00" target="_blank">dominikcydzik</a></li>
          <!-- Add more contact details as needed -->
        </ul>
        <div class="card-body">
          <a href="mailto:dominik.cydzik@gmail.com" class="card-link">Send Email</a>
        </div>
      </div>
    </div>
  </div>
{% endblock %}


