<!-- transactions_list.html -->

{% extends 'start.html' %}



{% block content %}
<h2>Transactions List</h2>
  <table border="1">
    <thead>
      <tr>
        <th>TransactionID</th>
        <th>Date</th>
        <th>Description</th>
        <th>Bank</th>
        <th>Amount</th>
        <th>Currency</th>
        <th>Category</th>
      </tr>
    </thead>
    <tbody>
      {% for index, row in transactions.iterrows() %}
        <tr>
          <td>{{ row['TransactionID'] }}</td>
          <td>{{ row['Date'] }}</td>
          <td>{{ row['Description'] }}</td>
          <td>{{ row['Bank'] }}</td>
          <td>{{ row['Amount'] }}</td>
          <td>{{ row['Currency'] }}</td>
          <td>{{ row['Category'] }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}