{% extends 'base.html' %}

{% block content %}
  <div class="container mt-5">
    <h1>Contact Information</h1>
    <div class="card mt-3" style="width: 18rem;">
      <img src="flaskr/static/1649147030907.jpeg" class="card-img-top" alt="Dominik Cydzik">
      <div class="card-body">
        <h5 class="card-title">Dominik Cydzik</h5>
        <p class="card-text">Engineer</p>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">Email: dominik.cydzik@gmail.com</li>
        <li class="list-group-item">LinkedIn: <a href="https://www.linkedin.com/in/dominikcydzik/" target="_blank">Dominik Cydzik</a></li>
        <li class="list-group-item">GitHub: <a href="https://github.com/domin00" target="_blank">dominikcydzik</a></li>
        <!-- Add more contact details as needed -->
      </ul>
      <div class="card-body">
        <a href="mailto:dominik.cydzik@gmail.com" class="card-link">Send Email</a>
      </div>
    </div>
  </div>
{% endblock %}




