<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>{% block title %}The Budget Assistant{% endblock %}</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>
  <nav>
    <h1>The Budget Assistant</h1>
    <ul>
      <li><a href="{{ url_for('budget_assistant.index') }}">Home</a></li>
      
      <li><a class="action" href="{{ url_for('budget_assistant.upload_statement_free') }}">Upload Bank Statement</a></li>
      
      {% if g.user %}
        <li class="dropdown">
          <a href="#" class="dropbtn">{{ g.user['username'] }}</a>
          <div class="dropdown-content">
            <a class="action" href="{{ url_for('budget_assistant.transactions') }}">Show All Transactions</a>
            <a class="action" href="{{ url_for('budget_assistant.summary') }}">Show Expenses Summary</a>
            <a href="{{ url_for('auth.logout') }}">Log Out</a>
            <!-- Add more project links as needed -->
          </div>
        </li>

      {% endif %}
    </ul>
  </nav>
  <section class="content">
    <header>
      {% block header %}{% endblock %}
    </header>
    {% for message in get_flashed_messages() %}
      <div class="flash">{{ message }}</div>
    {% endfor %}
    {% block content %}{% endblock %}
  </section>
</body>
</html>