<!-- summary.html -->

{% extends 'start.html' %}


{% block content %}
<h2>Summary Table</h2>
    <table border="1">
        <thead>
        <tr>
            <th>CategoryID</th>
            {% for month in summary_table.columns %}
            <th>{{ month }}</th>
            {% endfor %}
        </tr>
        </thead>
        <tbody>
            {% for category_id, values in summary_table.iterrows() %}
              <tr>
                <td>{{ category_id }}</td>
                {% for month in summary_table.columns %}
                  <td>{{ values[month] }}</td>
                {% endfor %}
              </tr>
            {% endfor %}
            <tr>
                <td>
                    Total
                </td>
                {% for total in totals %}
                  <td>{{ total }}</td>
                {% endfor %}
            </tr>

          </tbody>
        </table>
        
        


      {% endblock %}
