<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>{% block title %}{% endblock %} - Budget Assistant</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
  <nav>
    <h1>dominikcydzik</h1>
    <ul>
      <li><a href="{{ url_for('home.index') }}">Home</a></li>
      <li class="dropdown">
        <a href="#" class="dropbtn">Projects</a>
        <div class="dropdown-content">
          <a href="{{ url_for('budget_assistant.index') }}">Budget Assistant</a>
          <!-- Add more project links as needed -->
        </div>
      </li>

      <li class="dropdown">
        <a href="#" class="dropbtn">Blog</a>
        <div class="dropdown-content">
          <!-- Add more blog links as needed -->
        </div>
      </li>
      
      {% if g.user %}
        <li><span>{{ g.user['username'] }}</span></li>
        <li><a href="{{ url_for('auth.logout') }}">Log Out</a></li>
      {% else %}
        <!-- <li><a href="{{ url_for('auth.register') }}">Register</a></li> -->
        <li><a href="{{ url_for('auth.login') }}">Log In</a></li>
      {% endif %}
    </ul>
  </nav>
  <section class="content">
    <header>
      {% block header %}{% endblock %}
    </header>
    {% for message in get_flashed_messages() %}
      <div class="flash">{{ message }}</div>
    {% endfor %}
    {% block content %}{% endblock %}
  </section>
</body>
</html>